.contato__titulo,
.contato__texto {
    background: var(--rosa-degrade);
    -webkit-backgound-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--branco);
    border-radius: 24px;
    width: 90%;
    color: var(--preto);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--preto);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
}